/*
    CSS Base que Será usado em todas paginas Web
*/


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-primaria: #203040;
    --cor-secundaria: #a2cce2;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Quicksand", sans-serif;
}
.informacao{
text-align: center;    
color: #203040;
margin-top:70px ;


}


/* Override */

/* .btn.btn-primary {
    background-color: var(--cor-primaria);
} */
